cleanup = true

workDir = "/tmp/nextflow-workdir"

params {
    calibrationDir = "/path/to/calibration/dir/"
    omeTiffFilename = "image.ome.tiff"
    omeZarrDirname = "image.ome.zarr"
    omeXmlFilename = "image.ome.xml"
}

conda {
    enabled = true
}

trace {
    overwrite = true
}

report {
    overwrite = true
}

timeline {
    overwrite = true
}